.preview{
    transition: smooth;
    justify-self: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 5px;
    align-items: center;
    padding: 10px;
}

.preview video{
    width: 80%;
    border-radius: 5px;
}
.bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
}